{% extends 'base.html' %}
{% block title %}Ektrakcja produktu{% endblock %}
{% block content %}
<div >
    <form class="text-center" action="{{url_for('extract')}}" method="POST">
    <label class="text-center" for="product_id" class="form-label">Podaj kod produktu: </label>
    <input required id="code" name="product_code" placeholder="np.104978580">
    <button onclick=toCeneo()>Pobierz</button>
    </form>
</div>
{% endblock %}
{% block scripts %}
<script>
    function toCeneo(){
        var id=document.getElementById("product_id").value;
        if (isNaN(id) || id==""){
            location.reload();
            alert("Błędny kod");
        }
        else{
            var url="https://www.ceneo.pl/"+id;
            widow.location.href=url;
        }
    }
</script>
{% endblock %}
