{% extends 'base.html' %}
{% block title %}Opis projektu{% endblock %}
{% block content %}
<h2 class="text-align left">Cel aplikacji</h2>                                             
<p class="text-align left">Celem aplikacji jest pobieranie z serwisu Ceneo opinii o produktach na podstawie ich kodów oraz wyświetlanie pobranych opiii i ich statystyk.</p>                                                   <h2 class="text-align left">Opis działania aplikacji</h2>
<p class="text-align left">Aplikacja pobiera od użytkownika kod produktu z serwisu Ceneo i wyświetla wszytskie opinie na jego temat.</p>
<h2 class="text-align left">Zastosowane biblioteki</h2>
<ul class="text-align left">
    <li class="text-align left">BeautifulSoup4</li>
    <li class="text-align left">pandas</li>
    <li class="text-align left">matplotlib</li>
    <li class="text-align left">requests</li>
    <li class="text-align left">numpy</li>
    <li class="text-align left">Flask</li> 
    <li class="text-align left">requests</li>                                                   
    <li class="text-align left">numpy</li>
    <li class="text-align left">Flask</li>
</ul>
<h2 class="text-align left">Zastosowane podejścia</h2>
{% endblock %}