{% extends 'base.html' %}
{% block title %}Lista produktów{% endblock %}
{% block content%}
<div class="container">
    <table class="table display">
    <thread>
        <th>Produkt</th>
        <th>Liczba opinii</th>
        <th>Liczba wad</th>
        <th>Liczba zalet</th>
        <th>Średnia ocen</th>
        <th>Pobierz</th>
        </thread>
        <tbody>
            <tr>
            <td>104978580</td>
            <td>75</td>
            <td>6</td>
            <td>14</td>
            <td>4.8</td>
            <td><button>json</button></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}