{% extends 'base.html' %}
{% block title %}Opinie o produkcie{% endblock %}
{% block script %}
<script>
    $(document).ready( function () {
        $('#opinions').DataTable();
    } );
</script>
{% endblock %}
{% block content %}
<table id='opinions' class="table table-striped table-warning">
    <thead>
        <tr>
            <th>kolumna1</th>
            <th>kolumna2</th>
        </tr>
    </thead>    
    <tbody>
        <tr>
            <td>dane1</td>
            <td>dane2</td>
        </tr>
        <tr>
            <td>dane3</td>
            <td>dane4</td>
        </tr>
    </tbody>
</table>
{% endblock %}